:root {
  --html-color: coral;
  --main-bg-color: white;
  --text-dark: dimgrey;
  --text-light: white;
  --dark: teal;
  --neutral: lightseagreen;
  --light: azure;
  --accent: orangered;
  --grey: hsl(227, 10%, 46%);
  --mbe: 2em;
  --padding: 2em;
  --gap: 2em;
  --shadow: 0 0.25vw 1vw  0 rgba(0,0,0,0.5);
  --radius: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* Set core body defaults */
html {
  background-color: var(--html-color);
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  text-rendering: optimizeSpeed;
  font-family: system-ui;
  font-size: clamp(1rem, 1.5vw,  30px) ;
  color: var(--text-dark);
  letter-spacing: 0.25em;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

h1 {
  font-size:clamp(2.5rem, 5vw,  80px);
}

h2 {
  font-size:clamp(2rem, 3vw,  50px);
}

p {
  line-height: 1.5;
}

footer {
  margin-block-start: auto;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--light);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;	
  margin-block-start: var(--padding);
}

.container {	
  background-color: white;
  display: grid;
  width: clamp(320px, 90vw, 80em);
}

main h2 {
  color: var(--accent);
}

section {
  background-color: darkcyan;
  color: var(--text-light);
}


aside {
  background-color: aquamarine;
}

a {
  cursor:pointer;
  background-color: var(--accent);
  text-decoration: none;
  padding: calc(var(--padding)/4) calc(var(--padding)*2); 
  border-radius: calc(var(--radius)/2);
  overflow: hidden;
}

a:hover {
  --shadow: 0 0.5vw 2vw  0 rgba(0,0,0,0.5);
}



.price {
  display: inline-block;
  margin-block-start:0;
}

.price strong{
  font-size:clamp(2rem, 3vw,  50px);
  padding-inline-end: calc(var(--padding)/2);
}

.padding {
  padding: var(--padding);
}

.mbe {
  margin-block-end: var(--mbe);
}

.gap {
  gap: var(--gap);
}

.shadow {
  box-shadow: var(--shadow);
}

.radius {
  border-radius: var(--radius);
  overflow: hidden;
}

.responsive {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(
  auto-fit,
  minmax(20em, 1fr));
}

